$color-white: #FFFFFF;
$color-links: #292929;
$color-main: #6699CC;
$color-btn: #5072A7;

$font-global: 'Lato', sans-serif;

$height-header: 8.67vh;
$btn-padding-top: 3.68em;
$width-content-header: 22.91vw;

$size-15: 15%;
$size-20: 20%;
$size-25: 25%;
$size-30: 30%;

@mixin breakpoint($value) {
    @if $value == mg {
        @media screen and (max-width: 1400px) {@content;}
    }
    @if $value == lg {
        @media screen and (max-width: 1200px) {@content;}
    }
    @else if $value == md {
        @media screen and (max-width: 992px) {@content;}
    }
    @else if $value == sm {
        @media screen and (max-width: 768px) {@content;}
    }
    @else if $value == sx {
        @media screen and (max-width: 576px) {@content;}
    }
    @else if $value == minsm {
        @media screen and (min-width: 768px) {@content;}
    }
}

