.logo__img {
    width: 5em;
}

.menu-head {
    height: $height-header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.links {
    width: 29vw;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.links__a, 
.login__a {
    color: $color-links;
    font-size: 20px;
    line-height: 24px;
}

.login {
    margin-left: 6vw;
    display: flex;
    justify-content: space-between;
    gap: 0.937em;
}

.header-body {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-body {
    height: calc(100vh - $height-header);
}

.content {
    width: 22.91vw;
    padding-top: 19.55vh;
    .content__text {
        padding-top: 30px;
        font-size: 20px;
        line-height: 31px;
    }
    .btn-padding {
        padding-top: 59px;
    }
    .slogan__img {
        width: 22.91vw;
    }
}


