doctype html
html(lang="en")
   head.page__head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet", href="./css/normalize.min.css")
      link(rel="stylesheet", href="./css/style.min.css")
      title Your Alivio
   body.page__body
      include ./components/header.pug
      include ./components/work.pug
      include ./components/about.pug
      include ./components/projects.pug
      include ./components/footer.pug
      script(src="../script/main.min.js") 