section.about
    .container.c-about-flex
        .content.content-padding
            .slogan
                img.slogan__img(src="images/slogan/l3.svg", alt="slogan")
            p.content__text.ct-about-color See how well Alivio works in a real customer’s life. 
            .button.btn-padding
                a.button__a(href="#") Let’s&nbsp;get&nbsp;started
        .box-content 
            .video-wrap
                img.video__img(src="images/video.jpg")
                input.video__play(type="button")