section.description
    .container
        h2.description__title How it works
        .wrap 
            .description-slogan 
                img.description-slogan__img(src="./images/slogan/u2.svg", alt="slogan")
            .description-content 
               p.description-slogan__p Alivio offers as many journals it takes, tackling different areas such as anxiety, overwhelmedness, sadness, or anger, and a variety of personal causes, to help you become aware of your emotions, and guide you in how to manage stress.
    .container.c-content 
        .slider
            .c-content-head.c-content-head-top.c-content-head-01-size
                img.c-content-head__img(src="./images/Frame2.png")
            p.c-content-head__text Answer a quick survey about how you express yourself, what causes you stress, and what area would you like to work on. This way, we can fully personalize your journal!
            .c-content-head.c-content-head-bottom
                img.c-content-head__img(src="./images/1.jpg")
        .slider.slider-margin
            .c-content-head.c-content-head-top.c-content-head-02-size
                img.c-content-head__img(src="./images/Frame3.png")
            p.c-content-head__text Write, draw, reflect, understand. Alivio will guide you through the prompts and will help you manage your stress!
            .c-content-head.c-content-head-bottom
                img.c-content-head__img(src="./images/2.jpg")
        .slider
            .c-content-head.c-content-head-top.c-content-head-03-size
                img.c-content-head__img(src="./images/Frame4.png")
            p.c-content-head__text Now you are aware, and have a way to manage and overcome your own stress. What are you waiting for? Alivio today!
            .c-content-head.c-content-head-bottom
                img.c-content-head__img(src="./images/3.jpg")