footer.footer 
    .container.c-footer 
        ul.links.links-footer-column 
            .logo 
                a.logo__btn(href="#") #[img.logo__img(src="images/logo.svg")]
            li.links__li 
                a.links__a(href="#") Why&nbsp;Alivio
            li.links__li 
                a.links__a(href="#") Solutions
            li.links__li 
                a.links__a(href="#") Community
            li.links__li 
                a.links__a(href="#") Pricing