header.header
    .container 
        nav.menu-head 
            .logo 
                a.logo__btn(href="#") #[img.logo__img(src="images/logo.svg")]
            ul.links 
                li.links__li 
                    a.links__a(href="#") Why&nbsp;Alivio
                li.links__li 
                    a.links__a(href="#") Solutions
                li.links__li 
                    a.links__a(href="#") Community
                li.links__li 
                    a.links__a(href="#") Pricing
            ul.login
                li.login__li 
                    a.login__a(href="#") Sign&nbsp;in
                .button 
                    a.button__a(href="#") Start&nbsp;Trial
            .toggle-menu
                .line.line1       
                .line.line2        
                .line.line3        
header.header-body 
    .container 
        .content.content-padding 
            .slogan
                img.slogan__img(src="images/slogan/b1.svg", alt="slogan")
            p.content__text Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.
            .button.btn-padding
                a.button__a(href="#") Find&nbsp;Your&nbsp;Way
    .nav-bar
        ul.nav-list
            li.nav-list-item
                a.nav-link(href="#") Sign&nbsp;in
            li.nav-list-item
                a.nav-link(href="#") Start&nbsp;Trial
            li.nav-list-item
                a.nav-link(href="#") Why&nbsp;Alivio
            li.nav-list-item
                a.nav-link(href="#") Solutions
            li.nav-list-item
                a.nav-link(href="#") Community
            li.nav-list-item
                a.nav-link(href="#") Pricing
