section.projects
    .container.c-projects-flex
        .box-content 
            .card
                img.card__img(src="images/card.png", alt="card-image")
        .content.content-padding
            .slogan
                img.slogan__img(src="images/slogan/b1.svg", alt="slogan")
            p.content__text.ct-about-color Everyone experiences it, and in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.
            .button.btn-padding
                a.button__a(href="#") Find&nbsp;Your&nbsp;Way
